.user-groups-statistics {
    display: flex;
    flex-grow: 1;
    background-color: unset;

    .filters {
        display: flex;
        gap: var(--dui-spacing-large);

        .search-input {
            max-width: 10rem;
        }
    }

    .table {
        min-height: 20rem;
    }

    .pager {
        :global {
            div[class^='styles_input__'] {
                width: 8rem!important;
            }
        }
    }
}
