.members-statistics {
    display: flex;
    flex-grow: 1;
    background-color: unset;

    .table {
        min-height: 20rem;
    }

    .group-stats {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem 0;

        .value {
            font-size: 1.2rem;
        }

        .description {
            font-size: 1rem;
        }
    }

    .pager {
        :global {
            div[class^='styles_input__'] {
                width: 8rem!important;
            }
        }
    }
}
